<h1>Welcome to the RickieWiki</h1>
<p>A free wiki of Rick and Morty universe</p>
<form action="/search">
    <label for="q">Search the universe</label>
    <input type="text" name="q" id="q">
    <input type="submit" value="Search">
</form>